.info-general {
    display: grid;
    grid-template-columns: minmax(min-content, 40%) minmax(max-content, 1fr) ;
    gap: 20px;
    /* margin-top: 50px; */
}

.datos-reunion{
    position: relative;
    width: 100%;
    border-radius: 1.5rem;
    padding: 30px;
    color: gray;
    background-color: rgb(255, 255, 255);
}

.form-columna-fechas{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
}

.datos-comite {
    background-color: rgb(255, 255, 255);
    border-radius: 1.5rem;
    color: gray;
    /* box-shadow: 4px 4px 15px rgba(0, 0, 0, 0.1); */
    position: relative;
}

.tab-box {
    width: 100%;
    display: flex;
    align-items: center;
    border-bottom: 1px solid rgba(128, 128, 128, 0.276);
    position: relative;
}

.tab-box .tab-btn {
    font-size: 18px;
    font-weight: 450;
    color: grey;
    background: none;
    border: none;
    padding: 15px 18px;
    cursor: pointer;
    border-bottom: 2px solid transparent;
    transition: border-bottom-color 0.3s ease;
}

.tab-box .tab-btn.active {
    color: green;
    border-bottom-color: green;
}

.content-box {
    margin: 30px 0px;
    padding: 20px;
    overflow: hidden;
}

.content-box .content {
    display: none;
    animation: slideIn 0.5s ease;
}

@keyframes slideIn {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(0);
    }
}

.content-box .content.active {
    height: 200px;
    display: block;
    padding: 0px 20px;
}

.info-general label {
    display: block;
    font-weight: 600;
    padding: 3px 18px;
}

.info-general input ,
.info-general select,
.info-general textarea{
    width: 100%;
    background: rgb(239, 239, 239);
    outline: none;
    border: 2px solid #ffffff;
    border-radius: 1rem;
    font-size: 16px;
    padding: 10px;
    margin-bottom: 5px;
    transition: all 0.3s ease-in-out;
}

.info-general input:focus,
.info-general select:focus,
.info-general textarea:focus{
    border: 2px solid green;
}

.info-general input::placeholder {
    color: #d3d3d3;
}

.botones {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: gray;
    display: flex;
    align-items: flex-end;
    align-content: flex-end;
    justify-content: flex-end;
    padding: 20px;
}

.guardar {
    padding: 15px 30px;
    background-color: green;
    color: white;
    border-radius: 1rem;
    margin-right: 15px;
    border: none;
    outline: none;
    cursor: pointer;
}

.tabla-comitedg{
    padding: 20px;
}

::-webkit-scrollbar {
    width: 12px;
    height: 12px;
}

::-webkit-scrollbar-track {
    background-color: rgba(0, 128, 0, 0);
}

::-webkit-scrollbar-thumb {
    border-radius: 5px;
    border: 3px solid #fff;
    background-color: #e0e0e0;
    /* background-color: green; */
}

.table-container {
    max-height: 200px; /* Ajusta este valor según tus necesidades */
    overflow-y: auto;
    display: none; /* Ocultar inicialmente */
}

.table {
    display: table;
    width: 100%;
    border-collapse: collapse;
}

.header,
.row {
    display: table-row;
}

.cell {
    display: table-cell;
    padding: 8px;
    border: 1px solid #ccc;
    text-align: left;
}

.header .cell {
    font-weight: bold;
    background-color: #f2f2f2;
}